html {
	height: 100%;
}

body {
	font-family: Quicksand;

	height: 100%;
	margin: 0;
    padding: 0;
	background-color: #FBFBFB;
	background-repeat: no-repeat;
    background-position: left top;
	background-attachment: fixed;
	background-size: cover;
}

hr {
	margin: 0;
}

#ngview {
	height: 100%;
}

/*---Home---*/
#barcelona {
	width: 70%;
	height: 100%;
	margin: 0px auto;
	padding-top: 42px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.row-fluid {
	padding: 16px 32px;
	
	/*This CSS code is to INCLUDE borders and padding in the Width of the Element*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.row-condensed {
	height: 100px;
}
.row-expanded {
	height: 100%;
}

#cf {
	min-height: 100%;
	padding: 20px 60px;
	background-color: white;
	border-left: solid lightgrey 2px;
	border-right: solid lightgrey 2px;
}

.body-title {
	padding-bottom: 0;
	font-family: Quicksand, Arial;
	font-size: 42px;
}

.company-title {
	padding-bottom: 0;
	font-family: Quicksand, Arial;
	font-size: 32px;
}

.job-title{
	padding-bottom: 8px;
	font-family: QuicksandLight;
	font-size: 24px;
}

.body-section {
	padding-top: 0;
	font-size: 18px;
}

.appear-left-title {
	display: none !IMPORTANT;
}
.appear-right-text {
	margin-left: 0 !IMPORTANT;
}

.center{
	text-align: center;
}

.short{
	padding: 0;
	margin: 5px 5px;
}

.project-date{
	padding: 0;
	margin-bottom: 10px;
}

.table-cell-proficient {
	background-color: lightgreen;
	text-align: center;
}

.table-cell-intermediate {
	background-color: lightblue;
	text-align: center;
}

.table-cell-fundamental {
	background-color: lightyellow;
	text-align: center;
}

.video-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrap iframe {
	position: abosolute;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 920px) {
	#header-left {
		width: 50% !IMPORTANT;
	}
	#header-right {
		width: 50% !IMPORTANT;
	}
	.menu-text {
		display: none;
	}
	
	#cf{
		padding: 0px 10px 30px 10px;
	}
	.row-fluid{
		padding: 5px 10px;
	}
}

@media screen and (max-width: 1199px) {
	.appear-left-title {
		display: inherit !IMPORTANT;
	}
	.appear-right-title {
		display: none !IMPORTANT;
	}
}

@media screen and (max-width: 979px) {
	.appear-left-title {
		display: none !IMPORTANT;
	}
	.appear-right-title {
		display: inherit !IMPORTANT;
	}
	.appear-right-text {
		margin-left: 0 !IMPORTANT;
	}
}

@media screen and (max-width: 767px) {
	#header-left {
		padding-left: 20px !IMPORTANT;
	}
	#header-right {
		padding-right: 20px !IMPORTANT;
	}
	#barcelona {
		width: 96%;
	}
	#foot {
		padding: 0px 20px !IMPORTANT;
	}
	.appear-left-title {
		display: inherit !IMPORTANT;
	}
	.appear-right-title {
		display: none !IMPORTANT;
	}
}

@media screen and (max-width: 480px) {
	#barcelona {
		width: 100%;
	}
	.menu-title {
		font-size: 24px !IMPORTANT;
	}
	#header-left {
		width: 50% !IMPORTANT;
		padding: 5px 20px 0px 5px !IMPORTANT;
	}
	#header-right {
		width: 50% !IMPORTANT;
		padding: 10px 10px 10px 0px !IMPORTANT;
	}
		/*display: none;
	}
	#header-right-sm {
		/*visibility: visible !important;*/
	/*	width: 30% !IMPORTANT;
		display: inherit !IMPORTANT;
	}*/
}
