<div id="barcelona">
	<div style="position:relative;" id="cf" class="row-fluid" ng-class="{'row-expanded': sectionSelected.cf, 'row-condensed': !sectionSelected.cf}">
		<div class="span6">
			Cal Fisher
		</div>
		<div class="span6">
			Just getting this out there for now! This site is merely a proof of concept at the moment, and will have relevant information and completed styling soon!
		</div>

		<div style="position:absolute;right:10px;top:10px;">
			<i style="cursor:pointer;" class="fa fa-plus" ng-click="sectionSelected.cf = true" ng-show="!sectionSelected.cf"></i>
			<i style="cursor:pointer;" class="fa fa-minus" ng-click="sectionSelected.cf = false" ng-show="sectionSelected.cf"></i>
		</div>
	</div>

	<div style="position:relative;" id="about" class="row-fluid" ng-class="{'row-expanded': sectionSelected.about, 'row-condensed': !sectionSelected.about}">
		<div class="span6">
			About
		</div>
		<div class="span6">
			Stuff about me
		</div>

		<div style="position:absolute;right:10px;top:10px;">
			<i style="cursor:pointer;" class="fa fa-plus" ng-click="sectionSelected.about = true" ng-show="!sectionSelected.about"></i>
			<i style="cursor:pointer;" class="fa fa-minus" ng-click="sectionSelected.about = false" ng-show="sectionSelected.about"></i>
		</div>
	</div>

	<div style="position:relative;" id="projects" class="row-fluid" ng-class="{'row-expanded': sectionSelected.projects, 'row-condensed': !sectionSelected.projects}">
		<div class="span6">
			Projects
		</div>
		<div class="span6">
			Will have links and videos for future reference.
		</div>

		<div style="position:absolute;right:10px;top:10px;">
			<i style="cursor:pointer;" class="fa fa-plus" ng-click="sectionSelected.projects = true" ng-show="!sectionSelected.projects"></i>
			<i style="cursor:pointer;" class="fa fa-minus" ng-click="sectionSelected.projects = false" ng-show="sectionSelected.projects"></i>
		</div>
	</div>

	<div style="position:relative;" id="contact" class="row-fluid" ng-class="{'row-expanded': sectionSelected.contact, 'row-condensed': !sectionSelected.contact}">
		<div class="span6">
			Contact
		</div>
		<div class="span6">
			Blah
		</div>

		<div style="position:absolute;right:10px;top:10px;">
			<i style="cursor:pointer;" class="fa fa-plus" ng-click="sectionSelected.contact = true" ng-show="!sectionSelected.contact"></i>
			<i style="cursor:pointer;" class="fa fa-minus" ng-click="sectionSelected.contact = false" ng-show="sectionSelected.contact"></i>
		</div>
	</div>
</div>
